<head>
    <style>
        body {
            font-family: 'Slabo 27px', serif;
        / / background-color: #f2f2f2;

        }

        .div2 {
            margin-top: 40px;
            height: 95%;
        }

        .md-virtual-repeat-offsetter div {
            padding-left: 16px;
        }

        .testRotate:active {
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        .md-card-content {
            display: block;
            padding-top: 0px;
        }

        .h4 {
            margin-top: 2%;
        }

        .size {
            width: 100%;
            margin-top: -3%;
        }

        #button {
            color: white;
            margin-left: 25%;
            width: 20%;
            margin-bottom: 10%;
            background-color: #E66C54;
        }


    </style>
</head>
<div>
    <div style="background-color: #E66C54; height: 40px; width: 100%;">

        <md-icon md-svg-src="img/micons/navigation/svg/production/ic_last_page_48px.svg" ng-click="toggleLeft()"
                 style="width: 40px; height: 40px;" class="hvr-bounce-in testRotate">
            <md-tooltip md-direction="bottom">
                Profile
            </md-tooltip>
        </md-icon>
        <img src="img/ctxlogo.png" ng-click="" style="width: 20px;height: 20px ;margin-left: 1.5%;margin-right: 1%"
             class="hvr-ripple-out">
        <label style="font-family: 'Cinzel';font-size: 25px;" class="hvr-grow">ConnecTex Inc.</label>

        <md-icon md-svg-src="img/micons/social/svg/production/ic_person_48px.svg" ng-click="onLogout()"
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in  ">
            <md-tooltip md-direction="bottom">
                Log Out
            </md-tooltip>
        </md-icon>
        <md-icon md-svg-src="img/micons/social/svg/production/ic_notifications_48px.svg" ng-click=""
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in">
            <md-tooltip md-direction="bottom">
                Messages
            </md-tooltip>
        </md-icon>
        <a href="" style="float: right;margin-left: 1%;" class="animated rotateIn">TRANSACTIONS</a>


    </div>

    <div>

        <section layout="row">

            <md-sidenav class="div2" md-component-id="left" md-disable-backdrop md-whiteframe="4">
                <center>
                    <md-toolbar class="md-theme-indigo" style="background-color: #E66C54 ">
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar"
                                     src="img/profile.jpg"
                                     width="200px" height="200px" style="border-radius: 100px;margin-top: 20px"><br><br>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title" style="font-size: 25px">{{usersName}}</span><br>
                                <span class="md-subhead" style="font-size: 25px">{{userName}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </md-toolbar>

                    <md-content layout-margin ng-if="role">
                        <h4 ng-click="mysale()">My sale</h4>
                    </md-content>
                    <md-content layout-margin ng-if="!role">

                        <h4 ng-click="mypurchase()">My Purchase</h4>
                    </md-content>

                    <md-content layout-margin>
                        <h4>Favourite</h4>
                    </md-content>


                </center>
            </md-sidenav>

            <md-content>

            </md-content>

        </section>

    </div>
</div>

<div ng-show="onpage == 'home' ">
    <div style="width: 50%; margin-left: 20%">
        <md-input-container class="md-block">
            <label>Search</label>
            <input ng-model="text" type="text">
        </md-input-container>
    </div>
    <label style="margin-left: 17%"><b>Featured</b></label> <label style="margin-left: 24%"><b>Find A Deal</b></label>
    <label style="margin-left: 27%"><b>Trending</b></label>
    <div layout="row" style="margin-top: 0%" class="animated bounceInDown">
        <md-content layout="row" style="height: 500%; width: 100%;">
            <div style="overflow: scroll; margin-left:9%; height: 450px; width: 340px;" class="hvr-grow-shadow">
                <md-card ng-repeat="i in item | filter:text" style="height: 110px; width: 280px; padding-top: 0px">
                    <md-card-content class="md-card-content">
                        <h5 style="margin-top: 4%; float: right; color: #E66C54">{{"₹" + " "+ i.price}}</h5>
                        <h4 class="h4" style="color: #E66C54">{{i.material_name}}</h4>
                        <h5>{{i.company_name}}</h5>
                        <label>Peak:{{i.peak}}</label> &nbsp;&nbsp;
                        <label>Width:{{i.material_width}}</label> &nbsp;&nbsp;
                        <label>Fani:{{i.fani}}</label>

                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 340px;" class="hvr-grow-shadow">
                <md-card style="height: 870px; width: 280px;">
                    <md-card-content>
                        <h4>Find deal via ConnecTex exclusively</h4>
                        <label>Quality</label>
                        <md-select ng-model="crequest.quality">

                            <md-option ng-repeat="qlt in material" ng-value="qlt.material_name"
                                       ng-disabled="$index === 1">
                                {{qlt.material_name}}
                            </md-option>
                        </md-select>
                        <md-input-container class="md-block">
                            <label style="color: #5F5F5F">Quantity</label>
                            <input ng-model="crequest.quantity" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Price(min)</label>
                            <input ng-model="crequest.minprice" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Price(max)</label>
                            <input ng-model="crequest.maxprice" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Reed</label>
                            <input ng-model="crequest.reed" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Peak</label>
                            <input ng-model="crequest.peak" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Weight(grams)</label>
                            <input ng-model="crequest.weight" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label style="color: #5F5F5F">Width(inch)</label>
                            <input ng-model="crequest.width" type="text">
                        </md-input-container>

                        <label style="color: #5F5F5F">Deal Type</label>
                        <md-select ng-model="crequest.type" placeholder="SelectDeal Type" class="md-no-underline">
                            <md-option value="buy">Want to Buy</md-option>
                            <md-option value="sell">Want to Sell</md-option>
                        </md-select>

                        <md-button class="md-raised" id="button" ng-click="OnLogin()">Submit</md-button>

                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 340px;" class="hvr-grow-shadow">
                <md-card ng-repeat="i in trending | filter:text" style="height: 50px; width: 280px;">
                    <md-card-content>
                        <label>{{i.material_name}}</label>
                        <label style="float: right">{{"₹" + " "+ i.material_price}}</label>
                    </md-card-content>
                </md-card>
            </div>


        </md-content>
    </div>

</div>

<div ng-show="onpage == 'profile'">
    <md-button class="btn md-raised" id="button" ng-click="back()">Back</md-button>
    <md-card style="height: 870px; width: 450px; margin-left: 38%; margin-top: -5%">
        <md-card-content style="margin-left: 1%">
            <h2>Make A Deal</h2>
            <label>Quality</label>
            <md-select ng-model="crequest.quality">

                <md-option ng-repeat="qlt in material" ng-value="qlt.material_name" ng-disabled="$index === 1">
                    {{qlt.material_name}}
                </md-option>
            </md-select>
            <md-input-container class="md-block">
                <label style="color: #5F5F5F">Quantity</label>
                <input ng-model="crequest.quantity" type="text">
            </md-input-container>

            <md-input-container class="size md-block">
                <label style="color: #5F5F5F">Price(min)</label>
                <input ng-model="crequest.minprice" type="text">
            </md-input-container>

            <md-input-container class="size md-block">
                <label style="color: #5F5F5F">Price(max)</label>
                <input ng-model="crequest.maxprice" type="text">
            </md-input-container>

            <md-input-container class="size md-block">
                <label style="color: #5F5F5F">Reed</label>
                <input ng-model="crequest.reed" type="text">
            </md-input-container>

            <md-input-container class="size md-block">
                <label style="color: #5F5F5F">Peak</label>
                <input ng-model="crequest.peak" type="text">
            </md-input-container>

            <md-input-container class="size md-block">
                <label style="color: #5F5F5F">Weight(grams)</label>
                <input ng-model="crequest.weight" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <label style="color: #5F5F5F">Width(inch)</label>
                <input ng-model="crequest.width" type="text">
            </md-input-container>

            <label style="color: #5F5F5F">Deal Type</label>
            <md-select ng-model="crequest.type" placeholder="SelectDeal Type" class="md-no-underline">
                <md-option value="buy">Want to Buy</md-option>
                <md-option value="sell">Want to Sell</md-option>
            </md-select>

            <md-button class="md-raised" id="button" ng-click="OnLogin()">Submit</md-button>

        </md-card-content>
    </md-card>
</div>
