<head>
    <style>
        body {
            font-family: 'Slabo 27px', serif;
        / / background-color: #f2f2f2;

        }

        .div2 {
            margin-top: 40px;
        / / height: 95 %;
        }

        .md-virtual-repeat-offsetter div {
            padding-left: 16px;
        }

        .testRotate:active {
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        .md-card-content {
            display: block;
        }

        .h4 {
            margin-top: 2%;
        }

        .size {
            width: 100%;
            margin-top: -3%;
        }

        #button {
            color: white;
            margin-left: 39%;
            width: 20%;
            background-color: #F47421;
        }

        #button1 {
            color: white;
            margin-top: 10%;
            width: 40%;
            background-color: #F47421;
        }

        .input3 {
            margin-left: 1%;
            margin-top: -0.5%;
            width: 90%;
            position: relative;
        }

        .div3 {
            float: left;
            width: 50%;
            margin-bottom: -4%;
        }

        .div4 {
            float: right;
            width: 50%;
            margin-bottom: -4%;
        }


    </style>
</head>
<div>
    <div style="background-color: #F47421; height: 40px; width: 100%;">

        <md-icon md-svg-src="img/micons/navigation/svg/production/ic_last_page_48px.svg" ng-click="toggleLeft()"
                 style="width: 40px; height: 40px;" class="hvr-bounce-in testRotate">
            <md-tooltip md-direction="bottom">
                Profile
            </md-tooltip>
        </md-icon>
        <img src="img/ctxlogo.png" ng-click="Home()"
             style="width: 25px;height: 25px ;margin-left: 1.5%;margin-right: 1%"
             class="hvr-ripple-out">
        <label style="font-family: 'Cinzel';font-size: 25px;margin-left: 1.5%;" class="hvr-grow" ng-click="Home()">ConnecTex
            Inc.
            <md-tooltip md-direction="bottom">
                Home
            </md-tooltip>
        </label>

        <md-icon md-svg-src="img/micons/social/svg/production/ic_person_48px.svg" ng-click="onLogout()"
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in  ">
            <md-tooltip md-direction="bottom">
                Log Out
            </md-tooltip>
        </md-icon>

        <md-icon md-svg-src="img/micons/social/svg/production/ic_notifications_48px.svg" ng-click="showNotifications()"
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in">
            <md-tooltip md-direction="bottom">
                Messages
            </md-tooltip>


        </md-icon>
        <div ng-show="toggle"
             style="height: 213px; width: 350px; background-color: white;position: fixed;margin-top: 10px; margin-left:72.5%; z-index: 1; border: 1px solid #CFCFCF; box-shadow: 2px 2px 5px #EEEEEE; border-radius: 2px;overflow: scroll;">
            <md-card ng-repeat="i in rmsg" style="height: 60px; width: 333px;background-color: #EEEEEE;">
                <md-card-content class="md-card-content">
                    <h5 style="color: #F47421;"><b>{{i.company_name}}</b></h5>
                    <h6>{{i.message_txt}}</h6>

                </md-card-content>
            </md-card>
        </div>

    </div>

    <div>

        <section layout="row">

            <md-sidenav class="div2" md-component-id="left" md-whiteframe="4" flex>
                <center>
                    <md-toolbar class="md-theme-indigo" style="background-color: #F47421 ">
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar"
                                     src="https://avatars3.githubusercontent.com/u/8577729?v=3&s=400"
                                     width="200px" height="200px" style="border-radius: 100px;margin-top: 20px"><br><br>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title" style="font-size: 25px">{{usersName}}</span><br>
                                <span class="md-subhead" style="font-size: 25px">{{userName}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </md-toolbar>

                    <md-content>
                        <h4 ng-click="Home()">
                            <md-button>Home</md-button>
                        </h4>
                    </md-content>

                    <md-content>
                        <h4 ng-click="profile()">
                            <md-button>My Profile</md-button>
                        </h4>
                    </md-content>

                    <md-content>
                        <h4 ng-click="mysale()">
                            <md-button>Add Sale</md-button>
                        </h4>
                    </md-content>

                    <md-content>
                        <h4 ng-click="message()">
                            <md-button>Compose Message</md-button>
                        </h4>
                    </md-content>

                </center>
            </md-sidenav>

            <md-content>

            </md-content>

        </section>

    </div>
</div>

<div ng-show="onpage == 'home' " style="background-color: #EEEEEE;">
    <div style="width: 50%; margin-left: 20%">
        <md-input-container class="md-block">
            <label>Search</label>
            <input ng-model="text" type="text">
        </md-input-container>
    </div>
    <label style="margin-left: 17%"><b>Featured</b></label>
    <label style="margin-left: 28%"><b>Find A Deal</b></label>
    <label style="margin-left: 27%"><b>Trending</b></label>
    <div layout="row" style="" class="animated bounceInDown">
        <md-content layout="row" style="height: 500%; width: 100%;background-color: #EEEEEE;">
            <div style="overflow: scroll; margin-left:9%; height: 450px; width: 340px;" class="">
                <md-card ng-repeat="i in item | filter:text" style="height: 110px; width: 280px;">
                    <md-card-content class="md-card-content">
                        <h5 style="margin-top: 4%; float: right; color: #F47421">{{"₹" + " "+ i.price}}</h5>
                        <h4 class="h4" style="color: #F47421">{{i.material_name}}</h4>
                        <h5>{{i.company_name}}</h5>
                        <label>Peak:{{i.peak}}</label> &nbsp;&nbsp;
                        <label>Width:{{i.material_width}}</label> &nbsp;&nbsp;
                        <label>Fani:{{i.fani}}</label>

                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 340px;">
                <md-card style="height: 870px; width: 280px;">
                    <md-card-content>
                        <center><h4>Find deal via ConnecTex exclusively</h4></center>
                        <label>Quality</label>
                        <md-select ng-model="crequest.quality" style="margin-top: -1%">

                            <md-option ng-repeat="crequest in material" ng-value="crequest.id"
                                       ng-disabled="$index === 1">
                                {{crequest.material_name}}
                            </md-option>
                        </md-select>
                        <md-input-container class="md-block">
                            <label style="color: #5F5F5F">Quantity</label>
                            <input ng-model="crequest.quantity" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Price(min)</label>
                            <input ng-model="crequest.minprice" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Price(max)</label>
                            <input ng-model="crequest.maxprice" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Reed</label>
                            <input ng-model="crequest.reed" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Peak</label>
                            <input ng-model="crequest.peak" type="text">
                        </md-input-container>

                        <md-input-container class="size md-block">
                            <label style="color: #5F5F5F">Weight(grams)</label>
                            <input ng-model="crequest.weight" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label style="color: #5F5F5F">Width(inch)</label>
                            <input ng-model="crequest.width" type="text">
                        </md-input-container>

                        <label style="color: #5F5F5F">Deal Type</label>
                        <md-select ng-model="crequest.type" placeholder="SelectDeal Type" class="md-no-underline">
                            <md-option value="buy">Want to Buy</md-option>
                            <md-option value="sell">Want to Sell</md-option>
                        </md-select>

                        <md-button class="md-raised" id="button" ng-click="dvc()">Submit</md-button>

                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 340px;">
                <md-card ng-repeat="i in trending | filter:text" style="height: 50px; width: 280px;">
                    <md-card-content>
                        <label>{{i.material_name}}</label>
                        <label style="float: right">{{"₹" + " "+ i.material_price}}</label>
                    </md-card-content>
                </md-card>
            </div>


        </md-content>
    </div>

</div>

<div ng-show="onpage == 'mysale'" class="animated fadeInLeft" style="background-color: #EEEEEE;">
    <center>
        <md-card style="height: 40%; width: 50%;  margin-top: 5%; ">
        <md-card-content style="margin-left: 1%;">
            <center>
            <h2 style="margin-top: -1%">Make A Deal</h2>
            </center>
            <label style="">Quality</label>
            <md-select ng-model="crequest.quality" style="">

                <md-option ng-repeat="crequest in material" ng-value="crequest.id" ng-disabled="$index === 1">
                    {{crequest.material_name}}
                </md-option>
            </md-select>

            <md-input-container class="md-block" style="">
                <label style="color: #5F5F5F">Price</label>
                <input ng-model="crequest.price" type="text">
            </md-input-container>

            <div class="div3">
                <md-input-container class="input3">
                <label style="color: #5F5F5F">Reed</label>
                <input ng-model="crequest.reed" type="text">
            </md-input-container>
            </div>
            <div class="div4">
                <md-input-container class="input3">
                <label style="color: #5F5F5F">Peak</label>
                <input ng-model="crequest.peak" type="text">
            </md-input-container>
            </div>
            <div class="div3">
                <md-input-container class="input3">
                <label style="color: #5F5F5F">Weight(grams)</label>
                <input ng-model="crequest.weight" type="text">
            </md-input-container>
            </div>
            <div class="div4">
                <md-input-container class="input3">
                <label style="color: #5F5F5F">Width(inch)</label>
                <input ng-model="crequest.width" type="text">
            </md-input-container>
            </div>


            <md-button class="md-raised" id="button" ng-click="addSale()">Submit</md-button>

        </md-card-content>
    </md-card>
    </center>
</div>

<div ng-show="onpage == 'message'" class="animated fadeInLeft" style="background-color: #EEEEEE;">
    <center>
        <md-card style="height: 500px; width: 450px;  margin-top: 40px">
            <center>
        <md-card-content style="margin-left: 1%">
            <h2>Compose A Message</h2>
        </md-card-content>

                <md-select ng-model="msg.username" style="">

                    <md-option ng-repeat="msg in name | orderBy" ng-value="msg.id" ng-disabled="$index === 1">
                        {{msg.company_name }}
                    </md-option>
                </md-select>

                <md-card-content style="margin-top: 5%;">
                    <textarea style="height: 150px;width: 90%;" placeholder="Type your message here..."
                              ng-model="msg.message"></textarea>
        </md-card-content>
                <md-button class="md-raised"
                           style="margin-left: 1%;margin-top: 20px;background-color: #F47421;color: white;"
                           ng-click="sendMessage()">Send
                </md-button>
            </center>
    </md-card>
    </center>
</div>


<div ng-show="onpage == 'profile'" layout="row" class="animated fadeInLeft"
     style="height: 94%;width: 100%;  position: absolute; background-color: #EEEEEE;">

    <div style="overflow: scroll;height: 64.5%; width: 30%; margin-left: 10%; margin-top: 10%;">
        <md-card style="height: 95%; width: 80%; ">
            <md-card-content class="md-card-content">
                <center>
                    <img src="https://avatars3.githubusercontent.com/u/8577729?v=3&s=400"
                         style="margin-top: 4%;height: 217px;width: 217px;border-radius: 5%;">
                </center>
                    <p style="margin-top: 20px;">
                        <i class="material-icons">account_circle</i> &nbsp;&nbsp;&nbsp; {{usersName}}
                    </p>
                    <p>
                        <i class="material-icons">business</i> &nbsp;&nbsp;&nbsp; {{userCompanyName}}
                    </p>
                    <p>
                        <i class="material-icons">contact_phone</i> &nbsp;&nbsp;&nbsp; {{userMobile}}
                    </p>
                </center>
                </md-card-content>
            </md-card>
    </div>
    <div style="overflow: scroll;height: 62.8%; width: 30%; margin-left: 10%; margin-top: 10%;">
        <md-card ng-repeat="i in item2 | filter:text | filter: '!null'" style=";height: 110px; width: 280px;">
            <md-card-content class="md-card-content">
                <h5 style="margin-top: 4%; float: right; color: #F47421">{{"₹" + " "+ i.price}}</h5>
                <h4 class="h4" style="color: #F47421">{{i.material_name}}</h4>
                <h5>{{i.company_name}}</h5>
                <label>Peak:{{i.peak}}</label> &nbsp;&nbsp;
                <label>Width:{{i.material_width}}</label> &nbsp;&nbsp;
                <label>Fani:{{i.fani}}</label>

            </md-card-content>
        </md-card>
        </div>

</div>
