<head>
    <style>
        body {
            font-family: 'Slabo 27px', serif;
        / / background-color: #f2f2f2;

        }

        .div2 {
            margin-top: 40px;
            height: 95%;
        }

        .md-virtual-repeat-offsetter div {
            padding-left: 16px;
        }

        .testRotate:active {
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        .md-card-content {
            display: block;
            padding-top: 0px;
        }

        .h4 {
            margin-top: 2%;
        }
    </style>
</head>
<div>
    <div style="background-color: #E66C54; height: 40px; width: 100%;">

        <md-icon md-svg-src="img/micons/navigation/svg/production/ic_last_page_48px.svg" ng-click="toggleLeft()"
                 style="width: 40px; height: 40px;" class="hvr-bounce-in testRotate">
            <md-tooltip md-direction="bottom">
                Profile
            </md-tooltip>
        </md-icon>
        <img src="img/ctxlogo.png" ng-click="" style="width: 20px;height: 20px ;margin-left: 1.5%;margin-right: 1%"
             class="hvr-ripple-out">
        <label style="font-family: 'Cinzel';font-size: 25px;" class="hvr-grow">ConnecTex Inc.</label>

        <md-icon md-svg-src="img/micons/social/svg/production/ic_person_48px.svg" ng-click="onLogout()"
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in  ">
            <md-tooltip md-direction="bottom">
                Log Out
            </md-tooltip>
        </md-icon>
        <md-icon md-svg-src="img/micons/social/svg/production/ic_notifications_48px.svg" ng-click=""
                 style="float: right;margin-left: 1%;width: 40px; height: 40px;" class="hvr-bounce-in">
            <md-tooltip md-direction="bottom">
                Messages
            </md-tooltip>
        </md-icon>
        <a href="" style="float: right;margin-left: 1%;" class="animated rotateIn">TRANSACTIONS</a>


    </div>

    <div>

        <section layout="row">

            <md-sidenav class="div2" md-component-id="left" md-disable-backdrop md-whiteframe="4">
                <center>
                    <md-toolbar class="md-theme-indigo" style="background-color: #E66C54 ">
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar"
                                     src="http://www.peninsulaflyfishers.org/resources/Documents/Fly_Tying/usingHerl/rightHerlWeb.jpg"
                                     width="200px" height="200px" style="border-radius: 100px;margin-top: 20px"><br><br>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title" style="font-size: 25px">{{usersName}}</span><br>
                                <span class="md-subhead" style="font-size: 25px">{{userName}}</span>
                            </md-card-header-text>
                        </md-card-header>
                    </md-toolbar>

                    <md-content layout-margin>
                        <label style="font-size: 15px;margin-top: 30px">{{userCompanyName}}</label>
                    </md-content>
                    <md-content layout-margin>
                        <label style="font-size: 15px">{{userMobile}}</label>
                    </md-content>
                    <md-content layout-margin>
                        <label style="font-size: 15px">{{userAddress}}</label>
                    </md-content>

                    <md-content layout-margin>
                        <a href="" style="font-size: 15px">Status</a>
                    </md-content>

                </center>
            </md-sidenav>

            <md-content>

            </md-content>

        </section>

    </div>

    <div style="width: 50%; margin-left: 20%">
        <md-input-container class="md-block">
            <label>Search</label>
            <input ng-model="text" type="text">
        </md-input-container>
    </div>
    <div layout="row" style="margin-top: 0%" class="animated bounceInDown">
        <md-content layout="row" style="height: 500%; width: 100%;">
            <div style="overflow: scroll; margin-left:12%; height: 450px; width: 300px;" class="hvr-grow-shadow">
                <md-card ng-repeat="i in item | filter:text" style="height: 110px; width: 250px; padding-top: 0px">
                    <md-card-content class="md-card-content">
                        <h5 style="float: right">{{i.price}}</h5>
                        <h4 class="h4">{{i.material_name}}</h4>
                        <h5>{{i.company_name}}</h5>
                        <label>Peak:{{i.peak}}</label> &nbsp;&nbsp;
                        <label>Width:{{i.material_width}}</label> &nbsp;&nbsp;
                        <label>Fani:{{i.fani}}</label>

                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 300px;" class="hvr-grow-shadow">
                <md-card ng-repeat="i in item" style="height: 110px; width: 250px;">
                    <md-card-content>
                        {{i}}
                    </md-card-content>
                </md-card>
            </div>
            <div style="overflow: scroll; margin-left: 5%; height: 450px; width: 300px;" class="hvr-grow-shadow">
                <md-card ng-repeat="i in trending | filter:text" style="height: 50px; width: 250px;">
                    <md-card-content>
                        <label>{{i.material_name}}</label>
                        <label style="float: right">{{"₹" + " "+ i.material_price}}</label>
                    </md-card-content>
                </md-card>
            </div>


        </md-content>
    </div>

</div>
